.umbrella{       /* image ko lagi*/
    display: flex;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    border-radius: 50%;
    border: 4px solid;
  }
 .rule{        /* paragraph ko lagi*/
    width: 40%;
    
  }
  .txt{          /*paragraph ko div ko lagi*/
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    border: 6px solid;
  }
  .inds{    /*div  image ko lagi*/
      justify-content: center;
      width: 30%;
  }
  .parent{    /*thulo div ko lagi*/
    display: flex;
    justify-content: space-evenly;
  }
  .itm{            /*ol ko lagi div vitra ko */
    list-style: none;
    font-size: 2rem;
    display:flex;
    justify-content:space-evenly;
    /* border:1px solid; */
    width: 50%;

  }
  .li{
    /* border: 1px solid; */
    cursor:pointer;
  }
  .fun{      /* top ko lagi div function*/
    /* border: 1px solid; */
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
  }
  .nav{
    color: blueviolet;

  }
  .footwa{   /*footer ko lagi*/
    height: 12vh;
    width: 100%;
    background-color: blueviolet ;
    display: flex;
    justify-content: center;
  }
  .vitra{     /* footer vitra ko class*/
    /* display: flex; */
    /* justify-content: center; */
    /* width: max-content; */
    /* border: 1px solid ; */
    font-size: 1.2rem;
    color: white;
  }
  table,tr,td,th{
    border: 1px solid;
    font-size: 1.8rem;
    border-collapse: collapse;

  }
  .khojam{
    padding: 2rem;
    border: 1px solid;
    float: right;
  }


